body {
    background-color: #1f1f1f;
    padding: 10px;
}

h1 {
    color: #ad5b03;
    text-align: center;
    font-family: Courier New;
    font-size: 45px;
}

h2 {
    color: #cfcfcf;
    text-align: left;
    font-family: Courier New;
    font-size: 25px;
}

p {
    color: #cfcfcf;
    font-family: Courier New;
    font-size: 20px;
}

ol {
    color: #cfcfcf;
    font-family: Courier New;
    font-size: 20px;
}

ul {
    color: #cfcfcf;
    font-family: Courier New;
    font-size: 20px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    border: none;
    background-color: #1a1a1a;
    color: #cfcfcf;
    padding: 18px 25px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 0.1s;
}

button:hover {
    border: none;
    background-color: #151515;
    color: #ad5b03;
    padding: 18px 25px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a:link.nav {
    background-color: #1a1a1a;
    color: #cfcfcf;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a:visited.nav  {
    color: #cfcfcf;
}

a:hover.nav  {
    color: #b15f07;
    background-color: #151515;
}

a:active.nav  {
    color: #cfcfcf;
}

#search_bar {
    border-color: #ad5b03;
    border-width: 4px;
    border-style: solid;
    padding: 7px;
    margin-left: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



iframe{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav ul{
    height: 400px;
    width: 50%;
}

nav ul{
    overflow: hidden;
    overflow-y: scroll;
}

.yardstick_inputs {
    border-color: #ad5b03;
    border-width: 3px;
    border-style: solid;
    padding: 7px;
    margin-left: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
    

.dropdown {
    position: relative;
    display: inline-block;
    color: #cfcfcf;
    font-family: Courier New;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1f1f1f;
    padding: 100px;
    gap: 10px; 
    width: 55%;
    justify-content: center;
    
}

.grid-item {
    background-color: #1a1a1a;
    border: 5px solid #ad5b03;
    padding: 2px;
    font-size: 30px;
    text-align: center;
}

.yardstick_number {
    color: #ad5b03;
}
      

.boat {
    display: list-item;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.flex-container {
    display: flex;
    height: 500px;
}

.image_box{
    background-color: #1f1f1f;
    border: none;
}
.name_box {
    border: solid;
    border-color: #ad5b03;
    background-color: #1a1a1a;
    color: #cfcfcf;
    font-size: 25px;
    padding: 30px 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text_box {
    width: 500px;
    border: none;
    background-color: #1f1f1f;
    color: #cfcfcf;
    font-size: 16px;
    padding: 5px 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suspicious_link {
    color: #cfcfcf;
    text-decoration: none;
    cursor: text;
}